affine==2.4.0
async-timeout==4.0.3
attrs==24.2.0
casttube==0.2.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
decorator==5.1.1
future==1.0.0
geographiclib==2.0
geopy==2.4.1
idna==3.6
ifaddr==0.2.0
importlib_metadata==8.4.0
mercantile==1.2.1
numpy==1.24.4
protobuf==4.25.2
psycopg2==2.9.9
PyChromecast==13.0.8
pyparsing==3.1.4
PyYAML==6.0.2
rasterio==1.3.11
ratelim==0.1.6
requests==2.31.0
rio-mbtiles==1.6.0
Shapely==1.7.1
six==1.16.0
snuggs==1.4.7
spark-parser==1.8.9
supermercado==0.2.0
tgtg==0.14.0
tqdm==4.66.5
uncompyle6==3.9.0
urllib3==2.1.0
xdis==6.0.5
zeroconf==0.131.0
zipp==3.20.1
